*{
    padding: 0px;
    margin: 0px;
}
body{
    color: white;
    font-family:sans-serif;
}
.container{
    background: linear-gradient(to top right,rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url("Images/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img1{
    width:17vw;
    position: absolute;
    top:1%;  
    left:5%;
}
.nav-container{
    position: absolute;
    top:5%;
    right:8%;
    justify-items: center;
    gap:5%;
    margin-top: 1%;
}
h1{
    margin-top: 10%;
    margin-bottom: 2%;
    font-size:15mm;
    font-weight:900;
    width:45vw;
}
h3{
    margin-bottom: 3%
}
p{
    margin-bottom: 1%;
}
.info-container input{
    width:20vw;
    border-radius:5%;
    padding:15px 70px;
    font-size: 16px;
    margin-right:2%;
    background-color: rgba(0,0,0,0.7);
}
.info-container button{
    padding:10px 20px;
    width:15vw;
    height:8vh;
    background-color: red;
    color: white;
    font-size:20px;
    font-weight: bold;
}
.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lang{
    border-radius:5px;
    border-color:rgba(255, 255, 255, 0.74);
    height:5vh;
    width:6vw;
    background-color: rgba(0, 0, 0 ,0.2);
    color:white ;
}
.signin{
    border-radius:5px;
    border: none;
    height:5vh;
    width:5vw;
    background-color:red ;
    color:white;
}
.border{
    border: solid .25rem red;
    border-top-left-radius:50% 100%;
    border-top-right-radius:50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}
.container-2{
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left:10%;
}
.movies-container{
    display: flex;
    flex-direction:row;
    padding:1%;
    gap: 4%;
    overflow: auto;
    width: 80%;
    scrollbar-width:none;
}
.image-container{
    position: relative;
    padding:0px;
    margin:0px;
}
.number{
    position: absolute;
    bottom:10px;
    left:-26px;
}
#num{
    height:10vh;
    width:5vw;
}
#movie{
    border-radius:5%;
    border:none;
    height: 40vh;
    min-width:13vw;
    margin-bottom:7%;
    transition:1s;
    z-index:-1;
}
#one{
    position: absolute;
    bottom:2px;
    z-index: index -2;;
}
#movie:hover{
    transform:scale(1.1);
}
#icon1{
    position: absolute;
    height:15vh;
    width:5vw;
}
#btn{
    border-radius:5px;
    border-color:rgba(196, 196, 196, 0.6);
    height:7vh;
    width:8vw;
    background-color: rgba(0, 0, 0 ,0.2);
    color:white ;
    font-size:16px;
}
.btn-container{
    display:flex;
    margin-top: 2%;
    gap:4%;
}
.cards-container{
    display: flex;
    gap:2%;
    margin-bottom: 7%
}
h2{
    margin-bottom:3%;
}
.cards{
    border-radius:7%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right bottom, #181818,#2b0c2b);
    height:265px;
    width: 220px;
    position: relative;
}

.container-5{
    display: flex;
    flex-direction: column;
    gap:7px;
    margin-bottom: 7%;
}
.bx5{
    background-color: rgb(53, 53, 53);
    height:6vh;
    width:76vw;
    padding:2%;
    position: relative;
    transition:all;
}
.bx5:hover{
    background-color: rgb(73, 72, 72);
}
#plus{
    position: absolute;
    right: 10px;
    top: 10px;
    height:5vh;
}

.icons{
    height: 55px;
    position: absolute;
    right: 10px;
    bottom:10px;
}
.info-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5%;
}
.info-container2 input{
    width:35vw;
    border-radius:5%;
    padding:15px 70px;
    font-size: 16px;
    margin-right:2%;
    background-color: rgba(0,0,0,0.7);
}
.info-container2 button{
    padding:10px 20px;
    width:15vw;
    height:8vh;
    background-color: red;
    color: white;
    font-size:20px;
    font-weight: bold;
}
.questions{
    margin-top: 36px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
}
footer{
    color: rgba(255, 255, 255, 0.7);
    max-width: 65vw;
}
.link-items{
    color:rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    gap:23px;
}
.footer{
    display: grid;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    width: 100%;
    height: auto;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight:400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 3.8rem;
}
.footer a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
#lang2{
    border-radius:5px;
    border-color:rgba(255, 255, 255, 0.74);
    height:7vh;
    width:10vw;
    background-color: rgba(0, 0, 0 ,0.2);
    color:white ;
}
.name{
    margin-top: 36px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom:20%;
}


