*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family:serif;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.container1{
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-weight:400;
    font-size:14px;
    height:18.9px;
    padding:3px;
}
.nav-bar{
    display: flex;
    height:48px;
    width:1240px;
    justify-content: center;
    align-items: center;
    gap:2%;
    margin-top:5px;
    margin-left:100px;
    margin-right:100px;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
    font-size:16px;
    font-weight: 400;
}

.nav-bar h1{
    font-weight: 900;
}
#search{
    background-color:#f0f0f0;
    background-image:url("Icons/Vector.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left:3%;
    width:35vw;
    height:6vh;
    border-radius: 50px;
    border: none;
}
.container2{
    background-color:#f2f0f1;
    background-position:right ;
    background-image: url("Images/Poster.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:80vh;
    padding-left:6%;
}
.text{
    height:31vh;
    width:40vw;
    margin-top:5%;
}
.para{
    height:10vh;
    width:40vw;
    margin-top:3px;
}
.text h1{
    font-weight:700;
    font-size:64px;
    line-height:64px;
    text-align:left;
}
.text p{
    font-weight:400;
    font-size: 16px;
    line-height:22px;
    color:#000000;
}
.container2 button{
    background-color: black;
    color: #ffffff;
    border-radius: 50px;
    height:6vh;
    width:10vw;
    border: none;
}
.discount{
    color: #ff3333;
    border-radius: 20px;
    background-color: #fca9a9;
    width: 3vw;
}
.text2{
    display: flex;
    gap:3%;
    margin-top:2%;
    margin-bottom: 1%;
}
#img1{
    position:absolute;
    left:780px;
    top:300px;
    height:8vh;
}
#img2{
    position:absolute;
    top:100px;
    left:1200px;
}
.brands{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    gap:7%;
    color: #ffffff;
    font-size:30px;
    padding:20px;
}
.arrivals{
    display: flex;
    gap:2%;
    justify-content: center;
    align-items: center;
}
.arrivals img{
    border-radius: 20px;
}
.price{
    display: flex;
    gap: 4%;
}
.Frames{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius:50px;
    justify-content: center;
    align-items: center;
    padding-bottom:5%;
    margin: 5%;
}
.Frame1{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.image-container2{
    position: relative;
}
.Frames img{
    border-radius: 20px;
    height: 41vh;
}
.Frame2{
    display: flex;
    flex-direction: row;
    gap:2%;
}
.Frames h2{
    position: absolute;
    font-size:20px;
    font-weight: 700;
    top:4%;
    left:4%;
}
.customers{
    display: flex;
    flex-direction: column;
}
.reviews{
    display: flex;
    flex-direction: row;
    width:100vw;
    overflow: hidden;
    gap:2%;
}
.full{
    display: flex;
    flex-direction:column;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
    padding:2%;
    height:25vh;
    width:25vw;
}
.input-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: black;
    margin:5%;
    border-radius:20px;
    padding:1% 5.5% 0% 5.5%;
}
.txt{
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    height:20vh; 
    width:30vw;
}
.input{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
}
#email{
    background-image:url("Icons/emailbox.png");
    background-repeat: no-repeat;
    background-position: 2%;
    border-radius: 50px;
    height:6vh;
    width:25.5vw;
    border: none;
    padding-left: 5%;
}
#btn{
    background-color: white;
    border-radius: 50px;
    height:6vh;
    width:27vw;
}
.footer-items{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    background-color: #f0f0f0;
    gap:5%;
    padding:5%;
}
.items{
    display: flex;
    flex-direction:column;
    height:100px;
    width:180px;
}
.items a{
    text-decoration:none;
    color:rgb(146, 142, 142);
}
.items img{
    height:4vh;
    width:7vw;
}
.border{
   border: 2px solid rgb(182, 182, 182);
   border-bottom: #7a7a7a;
   margin-top: 5%;
   margin-bottom: 1%;
}
.payments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logos{
    display: flex;
    flex-direction: row;
    gap:3%;
}
.logo{
    gap: 5%;
    border-radius:5px;
    background-color:white;
    border: none;
    height:4vh;
    width:5vw;
}
